
body {
    margin: 0px;
    width: 100%;
}


.top-text-div{
    background: #2740F8;
}

.blue-div {
    background: #2740F8;
    background-image: url(img/pattern.png);
    border: solid 4px white;
}

.row {
    background-color: white;
}

.row1col1 {
    border: solid 4px white;
    max-height: 100%;
    max-width: 100%;
}

.row1col2 {
    background-image: url(img/Group%2047.svg);
    border: solid 4px white;

}

.row2col1 {
    background-image: url(img/Group%2050.svg);
    border: solid 4px white;
}

.row2col3 {
    background-image: url(img/Rectangle%20536.svg);
    background-repeat: no-repeat;
    border: solid 4px white;
}

.row3col1{
    background-image: url(img/missing.JPG);
    background: contain;
    border: solid 4px white;
}

.row4col1 {
    background-image: url(img/Rectangle%20650.svg);
    border: solid 4px white;

}

.row4col2 {
    background-image: url(img/Rectangle%20651.svg);
    border: solid 4px white;
}

.row5col2 {
    background-image: url(img/Rectangle%20653.svg);
    background-repeat: no-repeat;
    border: solid 4px white;

}


.my-container {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;

}

.top-side {
    background-color: #2740F8;
    background-image: url(img/pattern.png);
    height: 40vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-side-text p {
    color: #1DD5B2;
    margin: 10px;
}

.top-logo{
    background: none;
    
}

.top-logo div h1 {
    color: white;
}

.my-button button {
    border-style: none;
    color: White;
    background-color: #ff16aa;
}

.bottom-side {
    max-width: 100%;
    background-color: #2740F8;
    background-image: url(img/pattern.png);
    height: 8vh;
}

.bottom-logo img {
    height: 7vh;
    margin-top: 5px;
}

.footer-logo{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/pattern.png);
    max-width: 100%;
    background-color: #2740F8;
}


.title {
    background-image: url(img/title1.JPG) contain center;
    width: 450px;
}

.title-bottom-border {
    height: 3px;
    padding-top: 5px;
    border-bottom: 3px solid #1DD5B2;
    width: 20%;
}

.text-top-side {
    font-size: 1em;
}


.title img {
    width: 400px;
}

.text {
    color: white;
    font-size: 1em;
    padding: 5%;
}


@media screen and (max-width : 520px) {
    .title img {
        width: 250px;
    }
}


